body {
    font-size: 16px;
}

input {
    width: 300px;
    padding: 12px 18px;
}

button {
    cursor: pointer;
}

.container {
    max-width: 700px;
    display: flex;
    flex-direction: row;
}

.page-container {
    display: flex;
    flex-direction: column;
}

.up-block {
    background-color: blue;
    margin-top: 10px;
    width: 50px;
    height: 50px;
}

.page-left-up {
    display: flex;
    flex-direction: row;
    white-space: normal;
    min-width: 250px;
    background-color: lightblue;
    padding: 10px;
    margin-top: 20px;
}

.intro-up {
    margin-left: 20px;
}

.page-left {
    display: flex;
    flex-direction: column;
}

.btn {
    width: 100%;
    background-color: white;
    padding: 20px;
    text-align: left;
    margin-top: 20px;
}

#main {
    text-align: center;
}

.block-center {
    width: 300px;
    margin-left: 20px;
}

.page-blocks {
    display: flex;
    flex-direction: row;
}

.box {
    float: left;
    background: #f2f2f2;
    border: 1px solid #ccc;
}

.block:not(:last-child) {
    margin-right: 50px;
}

.block-image {
    width: 200px;
    height: 200px;
}

.settings {
    width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 50px;
    background-color: lightgrey;
}

.element:not(:last-child) {
    margin-bottom: 20px;
}

.settings-font {
    display: flex;
    flex-direction: column;
}

.button {
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    white-space: nowrap;
    padding: 12px 18px;
    color: black;
    width: 340px;
}

button:not(:last-child) {
    margin-bottom: 20px;
}

