*, *:after, *:before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
}

ul {
    list-style: none;
}

h2 {
    margin-left: 30px;
    font-size: 35px;
    font-weight: 300;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px;
}
.container-left {
    display: flex;
    flex-direction: column;
}

.up-list {
    display: flex;
    flex-direction: row;
}
.container-left-up {
    background-color: lightblue;
    padding: 20px;
    border-radius: 10px;
}

.image {
    cursor: pointer;
    width: 150px;
    height: 150px;
    background-color: blue;
    background-repeat: no-repeat;
    background-size: contain;
}

.list-item-text {
    width: 260px;
}

.container-left-down {
    margin-top: 30px;
}

.down-button {
    cursor: pointer;
    font-size: 20px;
    color: darkblue;
    padding: 20px 283px 20px 20px;
    border: 3px solid darkblue;
    border-radius: 10px;
    background-color: white;
}

.container-right {
    margin-left: 50px;
}