
ul {
    list-style: none;
}
  h1 {
      text-align: center;
      margin: 30px;
  }
  
  h2 {
    text-align: center;
    margin: 30px;
  }

  p {
      margin: 10px;
      text-align: center;
  }
  .fill {
    background-image: url(../Plane.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    height: 200px;
    width: 250px;
    cursor: pointer;
  }

  .hold {
    border: solid 5px #ccc;
  }
  .container {
      width: 1000px;
      display: flex;
      justify-content: center;
      align-content: space-between;
      align-items: center;
      flex-direction: column;
  }

.container-up {
      display: flex;
      flex-direction: row;
}
.middle-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-item:not(:last-child) {
    margin-right: 150px;
}
  .empty {
    height: 270px;
    width: 250px;
    margin-top: 30px;
    border: solid 1px black;
    background: white;
  }

 
  .hovered {
    background: #f4f4f4;
    border-style: dashed;
  }

  .container-down {
    margin-top: 30px;
    margin-bottom: 100px;
  }  

  .down-button {
      font-size: 16px;
      font-weight: 700;
      padding:  15px 50px;
      background-color: darkblue;
      color: white;
  }
  